<div id="containerIntro">
  <h1>
    <T str="Transifex Demo for FX-Glossary" key="glossary"></T>
  </h1>
  <div><tx-language-picker class="languagePicker language-picker-style"></tx-language-picker></div>
</div>
<br/>
<br/>
<table id="customers">
  <tr>
    <th><T str="Terms Used in FX-Apps" key="fx-terms"></T></th>
    <th><T str="Translated String" key="translated-string"></T></th>
  </tr>
  <tr>
    <td>Facility</td>
    <td><T str="Facility" key="facility"></T></td>
  </tr>
  <tr>
    <td>Assembly Line</td>
    <td><T str="Assembly Line" key="assembly-line"></T></td>
  </tr>
  <tr>
    <td>Status Point</td>
    <td><T str="Status Point" key="status-point"></T></td>
  </tr>
  <tr>
    <td>Part Code</td>
    <td><T str="Part Code" key="part-code"></T></td>
  </tr>
  <tr>
    <td>Timing Keys</td>
    <td><T str="Timing Keys" key="timing-keys"></T></td>
  </tr>
  <tr>
    <td>Jis group Item</td>
    <td><T str="Jis group Item" key="jis-group-item"></T></td>
  </tr>
  <tr>
    <td>Supplier</td>
    <td><T str="Supplier" key="supplier"></T></td>
  </tr>
</table>
<h2>
  <T str="Transifex - A File Less Approach of Internationalization!!!!" key="file-less-approach"></T>
  <span style="font-size:60px;">😀</span>
</h2>
